body
  width: 100vw
  height: 90vh


.modal
  display: none /* Hidden by default */
  position: fixed /* Stay in place */
  z-index: 1 /* Sit on top */
  padding-top: 100px /* Location of the box */
  left: 0
  top: 0
  width: 100% /* Full width */
  height: 100% /* Full height */
  overflow: auto /* Enable scroll if needed */
  background-color: rgb(0,0,0) /* Fallback color */
  background-color: rgba(0,0,0,0.4) /* Black w/ opacity */

.modal-content
  background-color: #fefefe
  margin: auto
  padding: 20px
  border: 1px solid #888
  width: 80%

.modal-reg
  display: none

/* The Close Button */
.close
  color: #aaaaaa
  float: right
  font-size: 28px
  font-weight: bold

.close:hover,
.close:focus
  color: #000
  text-decoration: none
  cursor: pointer

#lotList
  display: flex
  flex-direction: column
  margin-top: 10vh
  margin-right: 1vw

#itemList
  margin-right: 7vw
  overflow: auto
  height: 50%

#startedLot
  display: none
  overflow: auto
  height: 50%
  margin-top: 1%
  border-top: 1px dashed black
  padding-top: 1%


.modal-field
  display: flex
  flex-direction: column
  label, input
    margin: 3px

table, th, tbody, tr, td
  border-collapse: collapse
  border: 1px solid mediumpurple

#startAuction_modal
  overflow-y: scroll

button
  margin-right: 5px

.search-highlight
  background-color: yellow

.galaryDiv
  height: 300px
  width: 300px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border: 1px solid black
  border-radius: 0.5vw
  margin-top: 1vw
  padding-bottom: 0.5vw
  padding-top: 0.5vw
  img
    width: 280px
    height: 280px
  p
    margin-bottom: 4px

#galary_section
  display: flex
  flex-direction: column

.galaryDiv_Outer
  display: flex
  flex-direction: row
  justify-content: space-around

#welcome_section
  border-radius: 10px
  border-right: none
#welcome_section_balance
  margin-left: 5px
  border-radius: 10px
#welcome_section_name
  border-radius: 10px

.col-sm
  border-right: 1px solid white
  .col-sm:last-child
    border-right: none

.mainNavBar
  height: 6vh

#contentView
  display: flex
  flex-direction: column
  height: 94vh
  overflow: auto

.myMenuDivider
  height: 1px
  width: 100%
  border: 1px solid white

.myDividerSeparator
  height: 0.33vh

@media screen and (min-width: 768px)
  .myMenuDivider
    width: 1px
    height: 100%
    border: 1px solid white

  .myDividerSeparator
    width: 0.33vw
